<div class="d-flex">
  <nav class="bg-dark text-white p-3 vh-100" style="width: 250px;">
    <h5 class="mb-4">Admin Dashboard</h5>
    <ul class="nav flex-column">
      <li class="nav-item"><a routerLink="/manage/dashboard" routerLinkActive="active" class="nav-link text-white">Dashboard</a></li>
      <li class="nav-item"><a routerLink="/manage/wishlist" routerLinkActive="active" class="nav-link text-white">Users</a></li>
      <li class="nav-item"><a routerLink="/manage/products" routerLinkActive="active" class="nav-link text-white">Products</a></li>
      <li class="nav-item"><a routerLink="/manage/settings" routerLinkActive="active" class="nav-link text-white">Settings</a></li>
      <li class="nav-item mb-2">
        <a href="#" (click)="logout()" class="nav-link text-white">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="flex-grow-1 p-4 bg-light" style="min-height: 100vh;">
    <router-outlet></router-outlet>
  </div>
</div>
