header {
  background-color: white;
  border-bottom: 1px solid #eee;
}

.container-menu-desktop {
  padding: 10px 0;
}

.logo img {
  max-height: 50px;
  width: auto;
}

.main-menu li {
  margin-right: 20px;
}

.main-menu li a {
  color: #333 !important;
  font-weight: 500;
  text-decoration: none !important;
  transition: 0.3s;
}

.main-menu li a:hover {
  color: #f15b2a !important;
}

.cart-icon {
  margin-left: 15px;
  color: #333 !important;
  text-decoration: none !important;
}
